# Introduction to Pandas

Pandas is a very useful library to handle data within your python environment. In a first step, we will introduce how to input and output data from other files.

# Data Input and Output

In [ ]:
# Installing the packages
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [ ]:
df = pd.read_csv('pd_other/example') # File path description
df

### CSV Output

In [ ]:
df.to_csv('test.csv',index=False) # Transform file into .csv file

## Excel
Pandas can read and write excel files. Keep in mind that this only imports the data.

### Excel Input

In [ ]:
pd.read_excel('pd_other/Excel_Sample.xlsx', sheet_name='Sheet1')

### Excel Output

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
df

# Series

The first main data type we will learn about for Pandas is the Series data type. 

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any Python Object.

Let's explore this concept through some examples:

### Creating a Series

You can convert a list, numpy array, or dictionary to a Series:

In [ ]:
labels = ['a','b','c'] # List with characters

my_list = [10,20,30] # List with integers

arr = np.array([10,20,30]) # np.array with integers

d = {'a':10,'b':20,'c':30} # Dictionary

**Using Lists**

In [ ]:
pd.Series(data=my_list) # The index is default

In [ ]:
pd.Series(data=my_list,index=labels) # With defined index

In [ ]:
pd.Series(my_list,labels)

**NumPy Arrays**

In [ ]:
pd.Series(arr) # Default indexing

In [ ]:
pd.Series(arr,labels) # Custom defined index

**Dictionary**

In [ ]:
pd.Series(d)

### Data in a Series

A pandas Series can hold a variety of object types:

In [ ]:
pd.Series(data=labels)

## Using an Index within a Series

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])    
ser1

In [ ]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])    
ser2

In [ ]:
ser1['USA']

Operations are then also done based on **index:**

In [ ]:
ser1 + ser2

# DataFrames

DataFrames are the workhorse of pandas. We can think of a DataFrame as a bunch of Series objects put together to share the same index.

In [ ]:
from numpy.random import randn
np.random.seed(101)
#This method is called when RandomState is initialized. It can be called again to re-seed the generator.

In [ ]:
ran_data = randn(5,4)


cust_index = ["A", "B", "C", "D", "E"]

cust_columns = index = ["W", "X", "Y", "Z"]

df = pd.DataFrame(ran_data,index=cust_index,columns=cust_columns)
print(f"This is our DataFrame data: {ran_data}", "\n")

In [ ]:
df

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

Get column and index names:

In [ ]:
df.columns

In [ ]:
df.index

### Get one column

In [ ]:
df['W']

In [ ]:
#second method
df.W

### Get multiple columns

In [ ]:
# Pass a list of column names
df[['W','Z']]
#Take care of two brackets

### Relationship between pd.Series and pd.DataFrame

DataFrame Columns are just Series

In [ ]:
type(df['W'])

**Creating a new column:**

In [ ]:
#creation of a column from addition of coumns "w" and "Y"
df['new'] = df['W'] + df['Y']

In [ ]:
df

**Removing Columns**

In [ ]:
# axis =1 removes column
# axis =0 removes row

df.drop('new',axis=1)

In [ ]:
df.drop('A', axis=0)

### But does this mean that we actually changed our initial DataFrame?!

In [ ]:
# Not inplace unless specified!
df

In [ ]:
df.drop('new',axis=1,inplace=True)

In [ ]:
df

### Selecting Rows

**You can either select rows with .loc[] or with .iloc[]**

In [ ]:
df.loc['A']

**Or select based on the position instead of the label**

In [ ]:
# Indexes start from 0 NOT 1 ---> iloc[2] gives the 3rd row
df.iloc[2]

**Selecting subset of rows and columns**

In [ ]:
df.loc[['A','B'],['W','Y']]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df > 0

In [ ]:
#Boolian indexing
df[df > 0]

In [ ]:
df[df['Z'] > 0]

In [ ]:
df[(df['W'] > 0) & (df['Y'] > 1)]

## Oh, boy, Oh boy... I really do need a quick... CHALLENGE!

## Challenge I

In the pd_other folder, you will find some additional example sheets. Let's try the newly gained knowledge on that!

1) Load the grades.xlsx in a dataframe called **grades_df**

In [ ]:
# Write your code here

Okay, let's have a quick look at the table head --> **head()**

In [ ]:
# Write your code here

**UUUUUWEEEEH**! It seems that the table is missing a column head --> Subject. Rename the column with the appropriate column name **Subject**

In [ ]:
# Write your code here

# Hint 1: df.columns
# Hint 2: https://cmdlinetips.com/2018/03/how-to-change-column-names-and-row-indexes-in-pandas/

Okay, you are nearly done. In a last step, remove **Vincent** from the table...

In [ ]:
# Write your code here

And now create a new DataFrame called **best_ever_df** and assign all the subjects from Hamid where his grades are <= 1

In [ ]:
# Write your code here

# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)
df

Now you can use the **.groupby()** method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:

In [ ]:
df.groupby('Company')

You can save this object as a new variable:

In [ ]:
by_comp = df.groupby("Company")

And then call aggregate methods off the object:

In [ ]:
by_comp.mean()

In [ ]:
df.groupby('Company').mean()

More examples of aggregate methods:

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

In [ ]:
df.dropna()

#default axix=0 --> for rows

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(value='FILL VALUE')

In [ ]:
mean_A = df["A"].mean() # Computes the mean of A


df['A'].fillna(value=mean_A)

# Merging, Joining, and Concatenating

There are 3 main ways of combining DataFrames together: **Merging, Joining and Concatenating.**

### Example DataFrames

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df1

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df2

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
df3

## Concatenation

Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use **pd.concat** and pass in a list of DataFrames to concatenate together:

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

## Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

![title](img/joins.png)

## Example DataFrames

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.concat([left, right],axis=1)

In [ ]:
pd.merge(left,right,how='inner',on='key')

## Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

### Info on Unique Values

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

### Selecting Data

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]
newdf

### Applying Functions

In [ ]:
def times2(x):
    return x*2 # Multiplying entries by 2

In [ ]:
df

In [ ]:
df['col1'].apply(times2) # Here the magic word is: apply

In [ ]:
df['col1'].sum()

In [ ]:
df.sort_values(by='col2') # NOTE: inplace=False by default

Find Null Values or Check for Null Values

In [ ]:
df.isnull()

# OMG! My head burns...let's have a quick'n dirty challenge to fresh things up

### And to make it interesting let's talk about moooooooney... or with other words about salaries ;-)

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle.

**Import pandas as pd.**

**Read Salaries.csv as a dataframe called sal**

In [ ]:
# Write your code here

**Check the head of the DataFrame**

In [ ]:
# Write your code here

**Use the .info() method to find out how many entries there are.**

In [ ]:
# Write your code here

Hint:
(1) astype(float) method
df['DataFrame Column'] = df['DataFrame Column'].astype(float)

(2) to_numeric method
df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'],errors='coerce')

**What is the average BasePay ?**

In [ ]:
# Write your code here

**What is the job title of  Albert Pardini? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Albert Pardini)**

In [ ]:
# Write your code here

**What is the name of highest paid person (including benefits)?**

In [ ]:
# Write your code here

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
# Write your code here

**How many unique job titles are there?**

In [ ]:
# Write your code here

**What are the top 5 most common jobs?**

In [ ]:
# Write your code here

**Let's visualize this! Create a bar plot showing the 5 most common jobs**

Hint, use:

    df.plot.bar()
Can you change the plot size to take more horizontal space?

In [ ]:
# Write your code here

**How many people have the word Chief in their job title?**

#### Hint: Checkout the str.contains method ; - )

In [ ]:
# Write your code here

In [ ]:
# Write your code here